@import "mixins";

.page-template-page-events {
  @include breakpoint(xs) {
    overflow-x: unset;
  }
}

.events {
  @include rtlVersion {
    text-align: right;
  }

  &__tabs {
    background-color: white;
    padding: 20px 0;
    position: sticky;
    top: 59px;
    z-index: 1;
  }

  .events-list {
    padding: 35px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 65px;
    grid-row-gap: 60px;

    @include breakpoint(xs) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 35px;
    }

    &__item {
      color: black;
      flex-direction: column;
      display: flex;
      background-color: white;
      box-shadow: 0 17px 25.8px 3.2px rgba(34, 118, 146, 0.16), 0 9px 31.5px 3.5px rgba(51, 51, 51, 0.13);
      border-radius: 15px;
      padding: 20px 30px;

      &:hover {
        text-decoration: none;
      }
    }

    &__title {
      font-size: 1.3em;
      line-height: 130%;
      font-weight: bold;
    }

    &__description {
      flex: 1;
      margin-bottom: 20px;

      font-size: 0.9em;
      line-height: 140%;

      p:last-child {
        margin: 0;
      }
    }

    &__date {
      background-color: #203c90;
      margin: 0 -30px;
      color: #f5f6f6;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 8px 30px;
    }

    &__date-day {
      &:after {
        content: ',';
        display: inline;
        margin-inline-end: 3px;
      }
    }

    &__date-icon {
      margin-top: -4px;
      margin-inline-end: 8px;
    }

    &__date-icon-image {
      width: 25px;
    }

    &__tags {
      color: #203c90;
      font-size: .75em;
      padding: 20px 0 10px;
    }

    &__tag {
      margin-inline-end: 5px;

      &:before {
        display: inline;
        content: '#';
        margin-inline-end: 3px;
      }
    }
  }
}
